.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.info span {
    text-align: start;
}